body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    height: 48px;
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    padding: 8px 200px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 100px 200px;
    justify-content: space-between;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

a, .subtext {
    text-decoration: none;
    color: #E5e7EB;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 130px;
    padding: 7px 10px;
    border-radius: 9px;
    border-style: solid;
    border-color: white;
}

.left button {
    border-color: transparent;
    
}

button:hover {
    background-color: rgb(7, 87, 179);
    border-color: rgb(1, 64, 146);
}

.img {
    background-color: rgb(112, 117, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoheader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 50px 0px;
}

.infoboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 0px 350px;
    padding-bottom: 100px;
}

.square {
    color: white;
    border-style: solid;
    border-radius: 9px;
    border-width: 4px;
    border-color: #3882F6;
    height: 160px;
    width: 160px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 160px;
}

.box .subtext {
    display: flex;
    flex-wrap: wrap;
    color: #45474b;
}

.quote {
    padding: 100px 0px;
    background-color: #E5e7EB;
    display: flex;
    flex-direction: column;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 50;
    padding: 0px 310px;
}

.thor {
    font-size: 28px;
    font-weight: bold;
    margin-right: 320px;
    margin-left: auto;
}

.popup-container {
    padding: 100px 200px;
}

.popup {
    background-color: #3882F6;
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 9px;
}

.popup-header {
    font-size: 28px;
    font-weight: bold;
    color: #F9FAF8;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}